@model WebApplication1.Domain.Customers

<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#a01').click(function () {
                var data = {
                    customerID: $("#CustomerID").val(),
                    companyName: $("#CompanyName").val(),
                    contactName: $("#ContactName").val()
                };

                $.ajax({
                    type: 'Post',
                    url: "/Detail/Edit",

                    dataType: 'json', // 預期從server接收的資料型態
                    contentType: 'application/json; charset=utf-8', // 要送到server的資料型態
                    data: JSON.stringify(data),
                    //error: function () {
                    //    alert("asd");
                    //};

                    success: function (response) {

                        if (response.IsSuccess) {

                            swal.fire(
                                'good！',
                                '你成功了',
                                'success'
                            ).then(
                                function () {
                                    window.location.href = "/"
                                },

                            );
                            //alert(response.Result);

                        }
                        else {
                            var message = '';
                            response.ErrorMessage.forEach(x => message += '\n' + x);

                            swal.fire(
                                'error！！！！',
                                '失敗',
                                'error'
                            )/*alert(message);*/
                        }

                    }
                });

            });

            //下拉選單利用AJAX取資料庫的值
            $.ajax({
                type: 'GET',
                url: "/Detail/Select",

                dataType: 'json', // 預期從server接收的資料型態
                contentType: 'application/json; charset=utf-8', // 要送到server的資料型態

                success: function (data) {

                    var jo = data;

                    $("#aa").append("<option value=''>請選擇</option>");
                    for (i = 0; i < jo.MyList.length; i++) {
                        $("#aa").append("<option value='" + jo.MyList[i].Value + "'>" + jo.MyList[i].Text + "</option>");

                    };
                }
            });

        });
    </script>
</head>

<body>
    @*@using (Html.BeginForm("EditConfirm","Detail",FormMethod.Post))
        {@Html.AntiForgeryToken()*@
    <table id="customers">
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>Edit</th>
        </tr>

        <tr>
            <td>
                @Html.TextBoxFor(modelItem => Model.CustomerID)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.CompanyName, new { @style = "width:500px;" })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.ContactName)
            </td>
            <td> <input id="a01" type="button" value="確認編輯"></td>
        </tr>
    </table>
    <select id="aa">
    </select>
</body>