@*@model List<WebApplication1.Domain.Customers>*@
@model  IEnumerable<WebApplication1.Domain.Customers>
 @model WebApplication1.Models.Totall
 @using PagedList;
@using PagedList.Mvc;

<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
</head>
<body>
    <table id="customers">
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.TextBoxFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.CompanyName, new { @style = "width:500px;" })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.ContactName)
                </td>

                <td>
                    @Html.ActionLink(
                            "編輯",
                            "Detail",
                            "Detail",
                            routeValues: new
                            {
                                id = item.CustomerID
                            },
                            htmlAttributes: null
                        )
                </td>
                <td>
                    <input type="submit" value="刪除">
                </td>
            </tr>
        }
    </table>
    @foreach (var ii in Model)
    {

        </li>
        <li class="page-item"><a class="page-link" href="#"></a></li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>

    }
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>

            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</body>